<!DOCTYPE html>
<html lang="en">
<head>
<title>Chat Example</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<script type="text/javascript">
    $(function() {
	
		var msg = $("#msg");

		$("#form").submit(function() {

			if (!msg.val()) {
				return false;
			}
			
			$("#log").append((new Date())+ " ==> "+msg.val()+"\n")
			msg.val("");
			
			return false
		});

		
    });
	
</script>

</head>
<body>
<div id="log"></div>
<form id="form">
    <input type="submit" value="Send" />
    <input type="text" id="msg" size="64"/>
</form>
</body>
</html>
